.form {
    padding: 1rem;
    max-width: 30rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: #ffffff;
  }
  
  .input-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
  
  .form label {
    display: block;
    margin-bottom: 0.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .form input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #094394;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #011011;
    font-size: 1rem;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background: #c2e9e0;
    color:#17493d;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
  }
  
  .buttonAlt {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background:#faf5e2;
    color: #fbc101;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
  }
  
  .button:hover {
    background: #17493d;
    color: #c2e9e0;
  }
  
  .buttonAlt:hover {
    background: #f3a719;
    color: #c2e9e0;
  }